body{
    background-color: #E5E5E5;
}

.logo{
    display: flex;
    margin-top: 1.9em;
    margin-left: 1.9em;
}

.circle{
    width: 48px;
    height: 48px;
    border: 2px solid;
    border-color:rgba(31, 32, 65, 0.25);
    border-radius: 50%;
    }

